* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding-top: 10vh;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10vh;
    background: linear-gradient(135deg, rgba(223,76,76,1) 0%, rgba(249,131,34,1) 17%, rgba(255,187,0,1) 34%, rgba(108,140,64,1) 51%, rgba(68,125,149,1) 68%, rgba(116,72,140,1) 85%, rgba(178,75,126,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

#content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 75%;
    margin: 0 auto;
    padding: 3rem 1.5rem 1rem;
    background-color: rgb(0, 0, 0, 0.6);
    border-radius: 1.563rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0.3rem black;
    text-align: center;
    cursor: default;
}

.link {
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

#title {
    font-size: 3vw;
    text-transform: uppercase;
}

#fact {
    margin: 0 2rem;
    font-size: 1.5vw;
    text-align: justify;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 1.5rem;
    background-color: rgb(0, 0, 0, 0.6);
    box-shadow: 0.2rem 0.2rem 0.5rem 0.3rem black;
    font-size: 0.8rem;
}

#app-version {
    cursor: default;
}

#credits {
    text-decoration: none;
    cursor: default;
}

#credits a:hover {
    text-decoration: underline;
}

#tumblr-icon {
    height: 0.9rem;
    width: auto;
}

#tumblr-icon path {
    transition: all 0.5s;
}

#tumblr-icon:hover path {
    transform: scale(0.8);
}